
html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}

head {

}


body {

}

header {

}

h1 {
    font-family: "Algerian", fantasy, serif;
    padding: 10px;
    color: greenyellow;
    background-color: dodgerblue;
}

.navbar-container {
    position: fixed;
    top: 0;
    height: 120px;
    background-color: black;
    overflow: auto;
    width: 100%;
    vertical-align: middle;
    padding: 10px;
}

.navbar-logo {
    text-decoration: none;
    float: left;
    font-size: 40px;
    line-height: 90%;
    font-family: "Algerian", fantasy, serif;
    padding-right: 30px;
    color: #4a963b;
    background-color: black;
}


.nav-item {
    padding-left: 15px;
    font-family: "Copperplate Gothic Light", fantasy, serif;
    font-size: 16px;
}

.nav-item-employee {
    padding-left: 10px;
    font-family: "Arial", fantasy, serif;
    font-size: 14px;
    font-style: oblique;
}

.nav-account {
    padding-right: 5px;
    font-family: "Cascadia Code", fantasy, serif;
    font-size: 22px;
    text-decoration: none;
    float: right;
}

.block-content {
    position: relative;
    margin-top: 50px;
    text-align: center;
    padding: 0;
    background-color: dodgerblue;
}


.footer-container {
  width: 100%;
  bottom: 0;
  background-color: green;
  color: white;
  text-align: center;
}

.navbar-footer {
    padding-left: 30%;

}


.block-content .centered-logo p {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-size: 40px;
    font-family: "Algerian", fantasy, serif;
    color: green;
    background: rgb(0,0,0);
    background: rgba(0,0,0,.5);
    padding: 4px;
    width: 20%;
}


.table {
    color: lightgrey;
    padding: 20px;
}

.login-form {
    padding: 50px;
    color: lightslategray;
    font-family: "Calisto MT", serif;
    font-size: 30px;

}

#login-table {
    margin-left: 30%;
    padding: 100px;
    color: lightslategray;
}

.login-row {
    padding: 20px;
    margin-bottom: 20px;
}
#login-button {
    padding: 10px;
}

.list_all {
    padding: 50px;
    color: black;
    font-family: "Calisto MT", serif;
}

.card_list {

}

.deck_list {

}

.card-title {
    font-size: 40px;
}

.deck-title {

}

.card-quantity {
    font-size: 30px;
}

.card-image {

}

.deck-title {
    font-size: 42px;
}

.deck-card-num {
    font-size: 30px;
}
