{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SpielCraft Games{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'cards/css/style.css' %}">
    <style>
        /* Custom background color */
        .custom-bg-dark {
            background-color: #191919;
        }
    </style>
</head>

<body>
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-container">
        <a class="navbar-logo" href="{% url 'index' %}">
            <img src="{% static 'images/circlered26.jpg' %}" alt="home"/> Death of Reply</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_edit_cards' %}">Add/Edit Cards</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'trade_request_list' %}">Trade Requests</a>
                    </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_cards' %}">My Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_decks' %}">My Decks</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">LEARN GAME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NEWS</a>
                </li>
            {% if user.is_superuser %}
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
            </a>

            <ul class="dropdown-menu">
                <li><a class="nav-item-employee" href="{% url 'reports_dashboard' %}">Reports</a></li>
                <li><a class="nav-item-employee" href="{% url 'add_edit_cards' %}">Add Edit Cards</a></li>
                <li><a class="nav-item-employee" href="{% url 'card_stats' %}">Card Stats</a></li>
                <li><a class="nav-item-employee" href="{% url 'trade_request_list' %}">View Trades</a></li>
                <li><a class="nav-item-employee" href="{% url 'add_edit_cards' %}">Add Edit Cards</a></li>
            </ul>
        </li>
    {% endif %}
            </ul>
    <ul class="nav-account navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li><a class="nav-account" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span>Logout</a>
            </li>

        {% else %}
            <li><a class="nav-account" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            </li>
        {% endif %}
    </ul>
        </div>
</div>
</nav>
</header>

<div class="block-content">
    <br/>
    {% block content %}

    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-footer">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Contact</a>
      <a class="nav-item nav-link" href="#">Privacy & Cookies</a>
      <a class="nav-item nav-link" href="#">Terms of Use</a>
    </div>
    </div>
  </div>
</nav>


</html>
