{% extends "base.html" %}
{% load static %}
# reference name in structure chart
{% block content %}
  <h1>There are __ Users total</h1>
  {% if user_list %}
  <div class="list_all">
  <table class="user_list">

    {% for user in user_list %}
      <tr>
        <td><a href="{{ User.get_absolute_url }}">{{ User.username }}</a></td>
          <td>{{ User.name }}</td>
          <td></td>
      </tr>
    {% endfor %}

  </table>
      </div>
  {% else %}
    <p>No Decks created. </p>
  {% endif %}
{% endblock %}
