{% extends "base.html" %}
{% load static %}

{% block content %}

  {% if card_list %}
      <h1>There are {{ card_list|length }} cards total</h1>

      {% for card in card_list %}
      <div class="card-box">
        {% if card.card_image %}
                    <img src="{{ card.card_image.url }}" alt="{{ card.card_title }}" style="max-width: 100px; max-height: 100px;">
                {% else %}
                    No image available
        {% endif %}
            <ul>
              <li class="card-desc">{{ card.card_description }}</li>
              <li class="card-value">{{ card.card_value }}</li>
              <li class="card-rules">{{ card.card_rules }}</li>
          </ul>
      </div>
    {% endfor %}


      <div class="list_all">
        <table class="card_list">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Value</th>
                <th>Image</th>
            </tr>
            {% for card in card_list %}
            <tr>
                <td>{{ card.card_title }}</td>
                <td>{{ card.card_description }}</td>
                <td>{{ card.card_value }}</td>
                <td>
                {% if card.card_image %}
                    <img src="{{ card.card_image.url }}" alt="{{ card.card_title }}" style="max-width: 100px; max-height: 100px;">
                {% else %}
                    No image available
                {% endif %}
                </td>
            </tr>
            {% endfor %}
      </table>
    </div>
  {% else %}
    <p>There are no cards yet created.</p>
  {% endif %}
{% endblock %}