{% extends 'base.html' %}

{% block content %}
    <h1>Open Trade Requests</h1>
    {% if trade_requests %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Requested Cards</th>
                    <th scope="col">Offered Cards</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tradeRequest in trade_requests %}
                    <tr>
                        <td>{{ tradeRequest.trade_request_date }}</td>
                        <td>
                            {% for requested_card in tradeRequest.requestedcard_set.all %}
                                {{ requested_card.card_id.card_title }} ({{ requested_card.requested_card_quantity }})<br>
                            {% empty %}
                                None
                            {% endfor %}
                        </td>
                        <td>
                            {% for offered_card in tradeRequest.offeredcard_set.all %}
                                {{ offered_card.card_id.card_title }} ({{ offered_card.offered_card_quantity }})<br>
                            {% empty %}
                                None
                            {% endfor %}
                        </td>
                        <td>
                            {% if tradeRequest.playerRequesting != user and tradeRequest.trade_request_id in available_trades %}
                                <a href="{% url 'accept_trade_request' pk=tradeRequest.trade_request_id %}" class='btn btn-info'>Accept</a>
                            {% else %}
                                {% if tradeRequest.playerRequesting == user %}
                                    YOUR REQUEST
                                {% else %}
                                    INSUFFICIENT CARDS
                                {% endif %}    
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No open trade requests.</p>
    {% endif %}
{% endblock %}